@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #88d02f;
    --secondary-color: rgb(11, 29, 41);
    --color-1: #0b1d29;
    --color-2: #192e37;
    --color-3: #253b41;
}

* {
    margin: 0;
    padding: 0;
    /* border-box keeps padding/borders from messing up size calculations */
    box-sizing: border-box;
}

html {
    font-family: Oswald;
    color: var(--text-color);
}

body {
    background-color: #88d02f;
}
h1,
h2,
h3 {
    font-family: Oswald;
    color: var(--base-color);
}

p {
    font-family: Oswald;
    color: var(--base-color);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 1em max(1em, 5vw);
    margin: 0;
}

nav ul {
    display: flex;
    align-items: center;
    /* list-style-type: none -> removes default bullet points */
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: Oswald;
    font-weight: bold;
}

nav a {
    /* text-decotation: none -> removes the default underline */
    text-decoration: none;
    color: var(--primary-color);
}

nav a:hover {
    text-decoration: underline;
}

header,
section {
    margin: 2em auto;
    width: min(75em, 100%);
    padding: min(2em, 15%);
    /* border-radius -> adds a slight curve to the corners */
    border-radius: 1em;
}

header {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.header-image {
    display: block;
    width: 100%;
    height: auto;
}
